$width: 100% !default;
$height: 20em !default;

$lcn-toolbar-border-color: #ccc;

$lcn-toolbar-color-primary: #f00 !default;
$lcn-toolbar-color-secondary: #0f0 !default;

$lcn-toolbar-color: #000 !default;
$lcn-toolbar-background: #fff !default;

$lcn-toolbar-active-color: $lcn-toolbar-color !default;
$lcn-toolbar-active-background: #eee !default;
