@import "variables";

.lcn-wysihtml5 {
  clear: both;
  overflow: hidden;
  border: 1px solid $lcn-toolbar-border-color;
  position: relative;
  padding-right: 4px;

  .toolbar {
    margin-right: -6px;
    font-family: "Verdana", "sans-serif";
    position: relative;

    box-shadow: 0px 0px 2px $lcn-toolbar-border-color;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
    }

    [data-wysihtml5-command],
    [data-wysihtml5-action],
    [data-wysihtml5-command-group="foreColor"] {
      position: relative;
      border-right: 1px solid $lcn-toolbar-border-color;
      border-bottom: 1px solid $lcn-toolbar-border-color;
      list-style: none;
      font-size: 12px;
      display: inline-block;
      cursor: pointer;
      height: 40px * $lcn-toolbar-icon-scale-factor;
      width: 68px * $lcn-toolbar-icon-scale-factor;
      color: $lcn-toolbar-color;
      background: $lcn-toolbar-background;

      opacity: 0.7;

      &:hover {
        opacity: 1;
      }

    }

    [data-wysihtml5-command]::after,
    [data-wysihtml5-action]::after,
    [data-wysihtml5-command-group="foreColor"]::after {
      content: "";
      background-image: url(toolbar_icons.png);
      background-repeat: no-repeat;
      background-size: 820px * $lcn-toolbar-icon-scale-factor 40px * $lcn-toolbar-icon-scale-factor;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    [data-wysihtml5-command]:hover,
    [data-wysihtml5-action]:hover,
    [data-wysihtml5-command-group="foreColor"]:hover {
      color: $lcn-toolbar-active-color;
      background: $lcn-toolbar-active-background;
    }

    [data-wysihtml5-command="bold"]::after {
      background-position: 24px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="italic"]::after {
      background-position: -48px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="insertUnorderedList"]::after {
      background-position: -115px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="insertOrderedList"]::after {
      background-position: -197px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after {
      background-position: -344px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after {
      background-position: -428px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="createLink"]::after {
      background-position: -271px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="insertImage"]::after {
      background-position: -513px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command-group="foreColor"]::after {
      background-position: -741px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-command="insertSpeech"]::after {
      background-position: -596px * $lcn-toolbar-icon-scale-factor center;
    }

    [data-wysihtml5-action="change_view"]::after {
      background-position: -670px * $lcn-toolbar-icon-scale-factor center;
    }

    .wysihtml5-commands-disabled [data-wysihtml5-command-group="foreColor"] ul {
      display: none;
    }

    .wysihtml5-action-active,
    .wysihtml5-command-active {
      color: $lcn-toolbar-active-color;
      background: $lcn-toolbar-active-background;
    }

    .wysihtml5-commands-disabled [data-wysihtml5-command],
    .wysihtml5-commands-disabled [data-wysihtml5-command-group="foreColor"] {
      opacity: 0.4;
      cursor: default;
      background-image: none !important;
    }



    [data-wysihtml5-command-group="foreColor"] ul {
      display: none;
      position: absolute;
      z-index: 2;
      top: 40px * $lcn-toolbar-icon-scale-factor;
      right: -1px;
      left: -2px;
      border: 1px solid #ccc;
      border-top: 0;
      background: #fff;
      overflow: hidden;
    }

    [data-wysihtml5-command-group="foreColor"] li {
      display: block;
      margin: 3px;
      width: auto;
      border: 0;
      height: 15px;
    }

    [data-wysihtml5-command-group="foreColor"] li::after {
      display: none;
    }

    [data-wysihtml5-command-group="foreColor"]:hover ul {
      display: block;
    }

    [data-wysihtml5-command-group="foreColor"] [data-wysihtml5-command-value="primary"] {
      background: $lcn-toolbar-color-primary !important;
    }

    [data-wysihtml5-command-group="foreColor"] [data-wysihtml5-command-value="secondary"] {
      background: $lcn-toolbar-color-secondary !important;
    }



    [data-wysihtml5-dialog] {
      color: #333;
      font-size: 14px;
      text-align: left;
      line-height: 2.2em;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 5px;
      background: #dedede;
      position: absolute;
      width: 100%;
      top: 40px * $lcn-toolbar-icon-scale-factor;

      label {
        text-align: left;
        display: inline-block;
        margin-right: 1em;
      }

      input {
        color: #333;
        border: 1px solid #ccc;
        padding: 3px;

        &:focus {
          outline: 0;
          border: 1px solid #666;
        }
      }
    }



    [data-wysihtml5-dialog-action] {
      padding: 4px;
      color: #fff;
      cursor: pointer;
    }

    [data-wysihtml5-dialog-action="save"] {
      background: #000;
    }

    [data-wysihtml5-dialog-action="cancel"] {
      background: #999;
    }

  }

  .wysihtml5-sandbox {
    width: $width !important;
    height: $height !important;
    margin-bottom: -4px !important;
    border: none !important;
    box-sizing: border-box;
  }

}

