@import "variables";

body {
  padding-top: 2em;
}

.wysiwyg-color-primary {
  color: $lcn-toolbar-color-primary;
}

.wysiwyg-color-secondary {
  color: $lcn-toolbar-color-secondary;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}